@keyframes fadeIn {
  0% {
    margin-top: -10%;
    opacity: 0;
  }

  100% {
    margin-top: 3.5rem;
    opacity: 1;
  }
}

div#signup {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 3.5rem;
  animation: fadeIn ease 0.3s;

  input:focus {
    box-shadow: none;
  }

  .first-span {
    width: 28%;
  }

  input, span {
    font-size: 1.15rem;
  }

  #header {
    background-color: #005A75;
    color: white;
  }
}

.input-err {
  border: 1px solid red;
}
