#houses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
        padding-left: 0;
        padding-right: 0;
    }

    .card-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-bottom: 1rem;
    }

    .card-img-top {
        max-height: 250px;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .col-4 {
        padding: 0;
        margin-bottom: 1rem;
    }

    .row > .col-4:nth-child(1) .house-item {
        margin-left: 0rem !important;
    }

    .house-item {
        flex: 1;
        border: 3px;
        margin-left: 1rem;
    }

    .btn-detail {
        position: absolute;
        right: 0;
        bottom: 6%;
        margin-right: 1rem;
    }

    .btn-rented {
        position: absolute;
        right: 0;
        top: 6%;
        margin-right: 1rem;
        cursor: auto;
    }

    .btn-rented:hover {
        background-color: #198754;
    }
}
