.navbar {
  background-color: #1E3148;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo:hover {
  background-color: #1E3148 !important;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}

.navbar-right a:hover {
  color: #8a8888 !important;
}

.navbar-right a:focus {
  color: white;
}