.navbar {
    background-color: #1E3148;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo:hover {
    background-color: #1E3148 !important;
}

.search-input {
    margin-left: 2rem;
    padding: 0.4rem 1.2rem;
    border-radius: 2rem;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
    width: 250px;
    transition: all 0.3s;
}

.search-input:focus {
    width: 350px;
    border: 1px solid #94c2fb;
    transition: all 0.3s;
}
.search-input::placeholder {
    color: #aaa;
}

.navbar-right {
    display: flex;
}

.navbar-right a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1rem;
}

.navbar-right a:hover {
    color: #8a8888 !important;
}

.navbar-right a:focus  {
    color: white;
}